body{
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100vh;          
    margin: 0; 
}
div{
    width: 150px;
    float: left;
    padding: 40px;
    }
#sedans{
    background-color: aqua;
 

}
#suvs{
    background-color: aquamarine;
 
}
#luxury{
    background-color:  antiquewhite;
 
}
.clear-fix{
    clear: both;

}
.button{
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    width: 100px;
}